################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/2018/source-code/bootcamp/.vs/bootcamp/DesignTimeBuild/.dtbcache
