################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/2018/source-code/bootcamp/.vs/bootcamp/DesignTimeBuild/.dtbcache
/2018/source-code/bootcamp/.vs/bootcamp/v15/Server/sqlite3/storage.ide-wal
/2018/source-code/bootcamp/.vs/bootcamp/v15/Server/sqlite3/storage.ide-shm
/2018/source-code/bootcamp/.vs/bootcamp/v15/Server/sqlite3/storage.ide
/2018/source-code/bootcamp/.vs/bootcamp/v15/Server/sqlite3/db.lock
/2018/source-code/bootcamp/.vs/bootcamp/v16/.suo
/2018/source-code/bootcamp/.vs/bootcamp/v15/.suo
/2018/source-code/bootcamp/Properties/launchSettings.json
/2018/source-code/bootcamp/.vs/config/applicationhost.config
/2018/source-code/bootcamp/bootcamp.csproj.user
/2018/source-code/bootcamp/obj/Release/netcoreapp2.0/bootcamp.csproj.CoreCompileInputs.cache
/2018/source-code/bootcamp/obj/Release/netcoreapp2.0/bootcamp.AssemblyInfoInputs.cache
/2018/source-code/bootcamp/obj/Release/netcoreapp2.0/bootcamp.AssemblyInfo.cs
/2018/source-code/bootcamp/obj/Release/netcoreapp2.0
/2018/source-code/bootcamp/obj/Debug/netcoreapp2.0/bootcamp.csprojAssemblyReference.cache
/2018/source-code/bootcamp/obj/Debug/netcoreapp2.0/bootcamp.assets.cache
/.vs/VSWorkspaceState.json
/.vs/globalazurebootcamp2/v15/.suo
/2018/source-code/bootcamp/obj
/2018/source-code/bootcamp/Properties/PublishProfiles
/2018/source-code/bootcamp/bootcamp.sln
/2018/source-code/bootcamp/bin/Release/netcoreapp2.0
/.vs/slnx.sqlite
/2018/source-code/bootcamp/.vs/bootcamp/v16/Server/sqlite3
